@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #201E43;
    --secondary-color: #508C9B;
    --accent-color: #EEEEEE;
}

/* ------- Base Line ------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ------- Layout ------- */
body {
    background-color: var(--accent-color);
}

.container {
    width: 90vw;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
}

input,
button {
    outline: none;
    border: none;
    background-color: transparent;
}

/* ------- Reusable ------- */
.icon {
    width: 1.8rem;
    cursor: pointer;
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ------- States ------- */
/* Navbar */
nav {
    background-color: var(--primary-color);
}

nav .container {
    gap: 1rem;
}

nav .logo {
    width: 8rem;
}

nav .input-group {
    background-color: var(--accent-color);
    border-radius: 0.1rem;
    overflow: hidden;
    padding-right: 0.3rem;
    flex-basis: 40%;
}

nav input {
    font-size: 1.2rem;
    caret-color: var(--primary-color);
    padding: 0.5rem 1rem;
    width: 100%;
}

nav .add-to-carts {
    gap: 0.5rem;
}

/* Hero Section */

/* ------- Media Queries ------- */
@media (width<=850px) {
    html {
        font-size: 95%;
    }

    nav .input-group {
        flex-basis: 60%;
    }
}

@media (width<=650px) {
    html {
        font-size: 90%;
    }

    .container {
        width: 96vw;
    }

    .icon {
        width: 1.5rem;
    }
}