@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #304463;
    --secondary-color: #7D8ABC;
    --accent-color: #e3e9f1;
}

/* ------- Base Line ------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ------- Layout ------- */
body {
    background-color: var(--accent-color);
}

.container {
    width: 92vw;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
}

input,
button {
    outline: none;
    border: none;
    background-color: transparent;
}

/* ------- Reusable ------- */
.icon {
    width: 1.8rem;
    cursor: pointer;
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ------- States ------- */
/* Navbar */
nav {
    background-color: var(--primary-color);
}

nav .container {
    gap: 1rem;
}

nav .logo {
    width: 8rem;
}

nav .input-group {
    background-color: var(--accent-color);
    border-radius: 0.1rem;
    overflow: hidden;
    padding-right: 0.3rem;
    flex-basis: 40%;
}

nav input {
    font-size: 1.2rem;
    caret-color: var(--primary-color);
    padding: 0.5rem 1rem;
    width: 100%;
}

nav .add-to-carts {
    gap: 0.5rem;
}

/* Hero Section */
#hero {
    height: 40vh;
}

#hero .container {
    height: 100%;
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
}

#hero .container>div {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.123);
}

.categories {
    padding: 0.8rem;
    width: 25%;
    min-width: 15rem;
    text-wrap: nowrap;
    border-radius: 0.1rem;
}

.categories h2 {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 0.2rem 1rem;
    margin-bottom: 1rem;
}

.categories ul{
    display: grid;
    gap: 1rem;
}

.categories li{
    box-shadow: 0 0 1px 0 var(--secondary-color);
}

.categories ul a {
    display: block;
    padding: 0.3rem 1rem;
    width: 100%;
    color: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s;
}

.categories ul a:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color);
}

.hero-img {
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #2b699c4f, #201e4342), url(./images/hero.png);
    background-repeat: no-repeat;
    background-size: contain 100%;
    background-position: center;
    border-radius: 0.1rem;
    flex-direction: column;
    justify-content: center;
}

.hero-slogan {
    color: var(--accent-color);
    text-align: center;
    font-weight: normal;
    padding: 1rem;
    background-image: linear-gradient(to left, #2b699ca8, #201e43a4);
    line-height: 3rem;
}

.hero-slogan h1 {
    font-size: 1.8rem;
}



/* ------- Media Queries ------- */
@media (width<=850px) {
    html {
        font-size: 95%;
    }

    .container {
        width: 95vw;
    }

    nav .input-group {
        flex-basis: 60%;
    }
}

@media (width<=660px) {
    html {
        font-size: 90%;
    }

    .container {
        width: 97vw;
    }

    .icon {
        width: 1.5rem;
    }
}